html, body {
  margin: 0;
  height: 100%;
}

.layout {
 height: 100vh;                 
  border: 3px solid black;       
  box-sizing: border-box;
  display: flex;
  flex-direction: column;  
}

.top    { grid-area: top; }
.left   { grid-area: left; }
.center { grid-area: center; }
.right  { grid-area: right; }
.bottom { grid-area: bottom; }

.layout > div {
  border: 3px solid black;
  box-sizing: border-box;
  padding: 20px;
  font-size: 24px;
}
