    .calendar td:nth-child(1), 
    .calendar th:nth-child(1){color:red;}
    .calendar td:nth-child(7),
    .calendar th:nth-child(7) { 
      color:blue;
    }
    .red-day{ color: red;
             font-weight:bold;}
    .calendar {
      width:420px;
      font-size:16px;
    }

    .body{
        flex-direction:column;
        align-items:center;
    }
    .tags {
           border:1px solid black; 
           font-size: 200%; display: inline-block;
            background-color: #dcf5dc; color:green;}
    .first {border:1px solid black; 
            font-size: 200%; display: inline-block; 
            background-color: #fff9c4; color:yellow;}
    .sec {border:1px solid black; font-size: 200%; display: inline-block; 
          background-color: #f8bbd0; color:pink;}
    .gap{margin-top: 20px; display: flex; gap:20px;}
