    .calendar td:nth-child(1), 
    .calendar th:nth-child(1){color:red;}
    .calendar td:nth-child(7),
    .calendar th:nth-child(7) { 
      color:blue;
    }
    .red-day{ color: red;
             font-weight:bold;}
    .calendar {
      width:420px;
      font-size:16px;
    }
    body {text-align:center;}
    .tags {
           border:1px solid black; 
           font-size: 200%; display: inline-block;
            background-color: #daf4dc; color:green; padding:20px; margin:0 auto;}
    .first {border:1px solid black; 
            font-size: 200%; display: inline-block; 
            background-color: #f2f2c4; color:black; padding:20px;}
    .sec {border:1px solid black; font-size: 200%; display: inline-block; 
          background-color: #f8bbd0; color:black; padding:20px;}
    .gap{margin-top: 20px; display: flex; gap:20px;}
