html, body {
  margin: 0;
  height: 100%;
}

.wrap {
 height: 100vh;                 
  border: 2px solid lightseagreen;       
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  padding:20px;
  gap:5px;
}

.top, .bottom { border-bottom: 2px solid lightseagreen; padding:20px; }
.bottom {border-bottom:0; border-top: 2px solid lightseagreen; }

.top {padding: 0;}
.top img {
   width: 100%;
  height: 100%;
  object-fit: cover;   /* ⭐ 핵심 */
  display: block;
}


/* 가운데(2,3,4) 한 줄 배치 */
.mid {
  flex: 1;                       /* 가운데가 남는 높이 다 차지 */
  display: flex;
  flex-direction: row; 
  gap:5px;
}

/* 2번, 4번: 좌우로 늘어날 수 있게 */
.left, .right {
  width: 200px;
  flex: 0 0 200px;                       /* 화면 넓어지면 같이 넓어짐 */
  border-color: 2px solid lightseagreen;
  padding: 20px;
  box-sizing: border-box;
  background-color: #e8f8f5;
}

.right {
  border-right: 0;
  border-color: 2px solid lightseagreen;
}

/* 3번: 가운데는 고정 폭 느낌 + 세로 스크롤 */
.center {
  flex: 1;                       /* 2번,4번보다 더 넓게(원하면 1로) */
  padding: 20px;
  box-sizing: border-box;

  overflow-y: auto;              /* ⭐ 위아래 스크롤 */
  border-color: 2px solid lightseagreen;
  min-height: 0;
  
}

.center iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}
