
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .tags {border:1px solid black ;
           
           font-size: 200%; display: inline-block;
            background-color: #daf4dc; color:green; padding:20px;}
    .first {border:1px solid black; 
            font-size: 200%; display: inline-block; 
            background-color: #f2f2c4; color:black; padding:20px;}
    .sec {border:1px solid black; font-size: 200%; display: inline-block; 
          background-color: #f8bbd0; color:black; padding:20px;}
    .gap{margin-top: 20px; display: flex; gap:20px;}

#round { display: inline-block; width:200px; border:1px solid black; 
        border-radius: 100px; background-color:#f5a300; margin-top: 20px; }
