
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .tags {border:1px solid black ;
           
           font-size: 200%; display: inline-block;
            background-color: #daf4dc; color:green; padding:20px;}
    .first {border:1px solid black; 
            font-size: 200%; display: inline-block; 
            background-color: #f2f2c4; color:black; padding:20px;}
    .sec {border:1px solid black; font-size: 200%; display: inline-block; 
          background-color: #f8bbd0; color:black; padding:20px;}
    .gap{margin-top: 20px; display: flex; gap:20px;}
.circle-wrap{ display: flex; gap:20px;}
#round1 { display: inline-block; width:200px; height:200px; border:1px solid black; 
        border-radius: 100px; background-color:#f5a300; margin-top: 20px; padding:20px; }
#round2 { display: inline-block; width:200px; height:200px; border:1px solid black; 
        border-radius: 100px; background-color: red; margin-top: 20px; padding:20px; }

a[href ^= "https:"] { background-color: yellow;}
a[href *= "github"] {background-color: #B3E5FC;}
a[href $= "abc.com"] {background-color: #F8BBD0;}



div> div> a{color:blue;}

#1 {background-color: red;}
#2 {background-color: #ffcc80;}
#3 {background-color: yellow;}
#4 {background-color: green;}

div > p > a {background-color: blue;}
div > a {background-color:purple;}
