    .calendar td:nth-child(1), 
    .calendar th:nth-child(1){color:red;}
    .calendar td:nth-child(7),
    .calendar th:nth-child(7) { 
      color:blue;
    }
    .red-day{ color: red;
             font-weight:bold;}
    .calendar {
      width:420px;
      font-size:16px;
    }
    .tags {border:1px solid black; font-size: 200%; display: inline-block; }
    .first {border:1px solid black; font-size: 200%; display: inline-block; }
    .sec {border:1px solid black; font-size: 200%; display: inline-block; }
    .tags{display:flex; gap:20px;}
